<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="../home/style.css"
        <script>
            function validationForm(){
                const name = document.forms["contactForm"]["name"].value;
                const email = document.forms["contactForm"]["email"].value;

                if(name == "" || email ===""){
                    alert("Name and Email must be filled out.");
                    return false;
                }
                return true;
            }
        </script>
    </head>
    <body>
       <h2>Contact Us </h2>
       <form name="contactForm" onsubmit="return validateForm()" method='post'>
        {% csrf_token %}
        <label for="name" >Name: </label><br>
        <input type="text" id="name name="name><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>

        <input type="submit" value="Submit">
        </form>
    </body>
</html>