<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="../home/style.css"
    </head>
    <body>
        <h1>Contact Us</h1>
        <p>If you have any questions, feel free to reach out to us:</p>
        <ul>
            <li><strong>Email:</strong>contact@restaurant.com</li>
            <li><strong>Phone:</strong>(123) 456-7890</li>
            <li><strong>Address:</strong> 123 Food Street, Flavour Town,USA </li>
        </ul>
    </body>
</html>