body{
    font-family:'Segoe UI',sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margins:0;
    padding: 0;
}
header{
    background-color: #4a90e2;
    color: white;
    padding:20px;
    text-align: center;
}


h1  {
    color: #333;
    text-align:center;
    margin-top:20px;
}

ul  {
    list-style-type:none;
    padding:0;
    max-width:600px;
    margin: 20px auto;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
    border-radius: 5px;

}

li {
    padding:15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

li:last-child{
    border-bottom: none;

}
li:hover{
    background-color:#f0f0f0;
}

main{
    padding:40px;
    text-align: center;
}
footer{
    background-color: #222;
    color:white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}