<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to our Restaurant</title>
        <style>
            .welcome-message{
            font_family:'Segoe UI', sans-serif;
            font-size: 1.8em;
            color: #2c3e50;
            text-align: center;
            margin-top: 40px;
            padding: 20px;
            background-color: #f8f9fq;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1)
        }
        </style>
    </head>
    <body> 
        <div class="welcome-message">
            Welcome to Flavour Havn - where Every Bite tells a story!
        </div>
    
    
        <div style="margin-top: 20px; font-size: 1.2em; color:#34495e;">
           Current Time: {% now "l, d F Y-h:i A" %}
        </div>
    </body>
</html>